 @import "bootstrap-sprockets";
 @import "bootstrap";

 .logoCenter {
   text-align: center;
 }

 body{
    background-color: #dfbd91;
 }

 .left-body {
   float: left;
   width: 50%;
 }
 .right-body {
   float: right;
   width: 50%;
 }
