@import "image-picker";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: image-url("/hs_frozen.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-width: 1024px;
}

.logoCenter {
  text-align: center;
}

.content {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.form_bg {
  background-image: image-url("/hs_form_bg_arrange.png");
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-repeat: no-repeat;
}

.left-body {
  float: left;
  width: 550px;
  height: 650px;
  padding: 80px 50px;
  margin: 10px;
}

.form_line {
  width: 100%;
  min-height: 30px;
  margin: 3px 0;
  padding: 0;
  display: block;
}

.input_label {
  width: 25%;
}

.input_field {
  width: 60%;
}

.bt_create {
  width: 250px;
}

.right-body {
  float: right;
  width: 400px;
  margin: 10px;
  background-color: none;
}
